/* Court slot mapping start*/
.slotcontainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1em;
  /* min-height: 300px; */
}

.slot-row {
  margin: 10px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.timeofday {
  /* display: inline-block; */
  margin-right: 16px;
  width: 32px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.ui.button {
  cursor: pointer;
  display: inline-block;
  min-height: 1em;
  min-width: 7em;
  outline: 0;
  border: none;
  vertical-align: baseline;
  background: #3bce0b;
  color: rgba(0, 0, 0, 0.6);
  font-family: Nunito, "Helvetica Neue", Arial, Helvetica, sans-serif;
  margin: 0 0.25em 0 0;
  padding: 0.78571429em 1.5em 0.78571429em;
  text-transform: none;
  text-shadow: none;
  font-weight: 700;
  line-height: 1.8em;
  font-style: normal;
  text-align: center;
  text-decoration: none;
  border-radius: 0.28571429rem;
}

.ui.button.info {
  background: #f69f00;
  color: #ffffff;
}

.ui.button.booked {
  background: #ffff00;
  color: #000;
}

.slot {
  width: 90px;
  padding-left: 1em !important;
  padding-right: 1em !important;
  margin: 1px !important;
}

/* Court slot mapping end */

/* image upload start */
.imageThumb {
  max-height: 75px;
  border: 2px solid;
  padding: 1px;
  cursor: pointer;
}
.pip {
  display: inline-block;
  margin: 10px 10px 0 0;
}
.remove {
  bottom: 75px;
  left: 0px;
  position: relative;
  display: inline;
  background: #444;
  border: 1px solid black;
  color: white;
  text-align: center;
  cursor: pointer;
}
.remove:hover {
  background: white;
  color: black;
}
/* image upload end */
